.ad {
  padding: 1em;
}

.ad__wrapper {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.ad__thumb {
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  width: 100%;
}

.ad__image {
  border-radius: 3px;
  margin-bottom: -3px;
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: none;
}

.ad__image--empty {
  background: #edeef0;
  display: flex;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
}

.ad__image-placeholder {
  width: 100px;
  padding: 20px;
}

.ad__like-button {
  position: absolute;
  background: none;
  border: none;
  top: 1em;
  right: 1em;
}

.ad__like {
  width: 30px;
  height: 30px;
}

.ad__body {
  min-width: 600px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0 15px;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ad__title {
  font-weight: 700;
  font-size: 18px;
}

.ad__category {
  margin-top: 0.5em;
  font-size: 14px;
}

.ad__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.ad__info {
  display: flex;
  font-size: 14px;
  color: #869098;
}

.ad__price {
  font-weight: 700;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-item + .footer-item {
  margin-left: 1em;
}

.footer-item__icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  .ad__image {
    object-fit: contain;
  }
}

@media screen and (max-width: 900px) {
  .ad__wrapper {
    flex-direction: column;
  }

  .ad__body {
    margin-left: 0;
    margin-top: 1em;
    min-width: auto;
  }

  .ad__image {
    width: 100%;
    max-height: unset;
  }
}

@media screen and (max-width: 680px) {
  .ad__footer {
    flex-direction: column;
  }

  .ad__info {
    flex-direction: column;
    margin-top: 1em;
  }

  .footer-item + .footer-item {
    margin-left: 0;
    margin-top: 1em;
  }
}